<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Unsupported Language</title>
        <link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" charset="utf-8" />
    </head>
    <body>
       <h2 id="title">Unsupported Language <%= lang %></h2>
       <div id="helpus">
       <p>If you are interested in localizing this small service, please:
       <ul>
         <li>Fork <a href="http://github.com/mountain/shortify">our repository</a> at github;</li>
         <li>Localize <a href="http://github.com/mountain/shortify/blob/master/config/i18n.js">this file</a>;</li>
         <li><a href="http://help.github.com/forking/">Commit your patch to us</a>!</li>
       </ul>
       Thank you very much!
       </p>
       </div>
        <p id="team">by <a href="http://github.com/mountain/shortify">Shortify</a></p>
    </body>
</html>

